{{template "base" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is About Page</h1>
            <h1>Check this out</h1>
            <p>This came from the template:{{index .StringMap "test"}} </p>
        </div>
    </div>
</div>
{{end}}